#charCounter, #letterScore {
	font-size: 14px;
	color: #555;
}

#modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

	#modal-overlay.show {
		pointer-events: auto;
	}

#modal {
	background: #1b1b1e;
	border-radius: 8px;
	width: 90%;
	max-width: 400px;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	position: relative;
}

	#modal h2 {
		margin: 0 0 10px;
		font-size: 1.5em;
		text-align: center;
	}

	#modal p {
		text-align: left;
		margin: 10px 0;
	}

#close-modal {
	display: block;
	margin: 20px auto 0;
	padding: 10px 20px;
	font-size: 1em;
	background: #cc4444;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

body.modal-open {
	pointer-events: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

	body.modal-open #modal-overlay {
		pointer-events: auto;
	}


#close-modal:hover {
	background: #aa3333;
}

#trigger-text {
	font-size: 1.0em;
	color: #007BFF;
	cursor: pointer;
}

	#trigger-text:hover {
		text-decoration: underline;
	}

#letterScore {
	font-size: 24px;
	font-weight: bold;
	color: white;
}

#replyMessage {
	font-size: 14px;
	line-height: 0.6;
}

#checkResults {
	display: flex;
	flex-wrap: wrap;
	gap: 2px;
}

#responseSettings {
	line-height: 1.0;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 10px;
}

th, td {
	border: 1px solid #ccc;
	padding: 10px;
	text-align: left;
}

th {
	background: #f9f9f9;
}

.collapsible {
	cursor: pointer;
	padding: 10px;
	border: none;
	outline: none;
	display: inline-flex;
	background-color: transparent;
	align-items: center;
}

.content {
	display: none;
	padding: 10px;
	margin-top: 5px;
}

.quest-content {
	display: none;
	padding: 10px;
	margin-top: 5px;
}

.arrow {
	margin-left: 5px;
	transform: rotate(0deg);
	transition: transform 0.3s;
}

	.arrow.down {
		transform: rotate(180deg);
	}

.check-box span {
	font-weight: bold;
}

.quest-container {
	position: relative;
	margin-top: 20px;
}

.quest-details {
	display: none;
}

.quest-checkbox {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
}

.inline-image {
	width: 25px;
	height: 25px;
	vertical-align: middle;
}

.quest-checkbox input {
	margin-right: 5px;
}

.ranking-calculation {
	display: none;
}

.positive {
	color: green;
}

.neutral {
	color: gray;
}

.negative {
	color: red;
}

@media screen and (max-width: 600px) {
	#modal {
		width: 80%;
		padding: 15px;
	}

		#modal h2 {
			font-size: 1.2em;
		}

	#close-modal {
		padding: 8px 16px;
		font-size: 0.9em;
	}

	td {
		font-size: 0.68rem;
	}
}
